# PANDAS

In [5]:
import pandas as pd
data=pd.read_csv("mnist_test.csv")
print(data.shape)
print(data.head())

(10000, 785)
   label  1x1  1x2  1x3  1x4  1x5  1x6  1x7  1x8  1x9  ...  28x19  28x20  \
0      7    0    0    0    0    0    0    0    0    0  ...      0      0
1      2    0    0    0    0    0    0    0    0    0  ...      0      0
2      1    0    0    0    0    0    0    0    0    0  ...      0      0
3      0    0    0    0    0    0    0    0    0    0  ...      0      0
4      4    0    0    0    0    0    0    0    0    0  ...      0      0

   28x21  28x22  28x23  28x24  28x25  28x26  28x27  28x28
0      0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0      0

[5 rows x 785 columns]

In [3]:
import pandas as pd
iris = pd.read_csv("Data1.csv")
ans=iris.shape
ans1=iris.head()
print(ans)
print(ans1)

(5, 4)
     Name  Gender   Age   Salary
0   James    male  30.0  20000.0
1   Kumar    male  50.0      NaN
2  Laxman     NaN   NaN      NaN
3    Rani  female  25.0      NaN
4   Prem     male   NaN  50000.0