In [1]:
print("Hello World!!")

Hello World!!

In [2]:
5 in [2,3,4,5,6,7]

True

In [3]:
8 in [2,3,4,5,6,7]

False

In [5]:
a=int(input())
if a>=35:
    print("pass")
else:
    print("Fail")

34
Fail

In [55]:
l=[1,'1',1.8,'vijay']
l

[1, '1', 1.8, 'vijay']

In [9]:
l1=[[10,20,30],[40,50,60]]
print(l1[0])
print(l1[1])
print(l1[0][1])
print(l1[1][1])

[10, 20, 30]
[40, 50, 60]
20
50

In [53]:
for num in [10,20,30,40]:
    print(num,end=" ")
print()
for num in range(1,12):
    print(num,end=" ")

10 20 30 40
1 2 3 4 5 6 7 8 9 10 11

In [68]:
print(*[1,2,4],sep='')

1 2 4

In [75]:
list1=['vijay','likki','raghu','karthik','tarun','uma']
list1[5]='vamsi' #replace operation
print(list1)
list1.insert(4,'uma')  #insert operation
print(list1)
list1.sort() #sort operation
print(list1)
del list1[5] #delete single element
print(list1)
list1.append('vamsi') #append operation
print(list1)
list1.reverse() #reverse operation
print(list1)
del list1 #delete the whole list1
print(list1)

['vijay', 'likki', 'raghu', 'karthik', 'tarun', 'vamsi']
['vijay', 'likki', 'raghu', 'karthik', 'uma', 'tarun', 'vamsi']
['karthik', 'likki', 'raghu', 'tarun', 'uma', 'vamsi', 'vijay']
['karthik', 'likki', 'raghu', 'tarun', 'uma', 'vijay']
['karthik', 'likki', 'raghu', 'tarun', 'uma', 'vijay', 'vamsi']
['vamsi', 'vijay', 'uma', 'tarun', 'raghu', 'likki', 'karthik']

NameError: name 'list1' is not defined

In [77]:
tuple1=("animals","monkey","raghu") #we can have nested tuples also
tuple1

('animals', 'monkey', 'raghu')

In [81]:
tuple1[2]="hi" #tuples don't have any operations like list
tuple1

TypeError: 'tuple' object does not support item assignment

In [5]:
#sequence operators
#"len" - operator
name="vijay"
l1=[12,34,56,67,88]
tuple1=(12,34,56,67,88)
print(len(name)) #"len" for finding length of given name ,list,tuple...
print(len(l1))
print(len(tuple1))

5
5
5

In [6]:
#select operator is like indexing
print(name[0])
print(l1[1])
print(tuple1[2])

v
34
56

In [12]:
#slice operator --->part of the list,tuple,string...
print(name[1:4])
print(l1[2:5])
print(tuple1[3:6])
print(l1[2:]) #from second index to last index
print(l1[:5]) #from zeroth index to 5th index

ija
[56, 67, 88]
(67, 88)
[56, 67, 88]
[12, 34, 56, 67, 88]

In [15]:
#count operation
print(name.count('i')) #for counting  purpose

1

In [16]:
#index operation ---->for finding any index of the element or charcater
print(name.index('j'))

2

In [25]:
#concatenation operator
str1="hi "
print(str1+ name)
l2=[1,2,3]
print(l1+l2)
t2=(2,3)
print(tuple1+t2)
#concatenating list+tuple will give error

hi vijay
[12, 34, 56, 67, 88, 1, 2, 3]
(12, 34, 56, 67, 88, 2, 3)

In [27]:
#min operator---> finding the minimum value 
print(min(l1))
print(min(name))
print(min(tuple1))

12
a
12

In [29]:
#max operator--->finding the maximum value 
print(max(l1))
print(max(name))
print(max(tuple1))

88
y
88

In [31]:
#sum operator
print(sum(l1))
print(sum(name)) #--> sum operator cant apply on the strings

257

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
#list Assignment and list copy
#Assignment
lst=[10,2,34,90,87,65]
lst2=lst
print("Assignment")
print("-----------")
print(lst2)
lst[1]="apple"
print(lst)
print(lst2) #change happend in the lst is also applied for lst2 ---> is called list assignment
#copying
print("copying")
print("--------")
lst3=list(lst) #list() is a list constructor
print(lst3)
lst[3]=45
print(lst)
print(lst3)

Assignment
-----------
[10, 2, 34, 90, 87, 65]
[10, 'apple', 34, 90, 87, 65]
[10, 'apple', 34, 90, 87, 65]
copying
--------
[10, 'apple', 34, 90, 87, 65]
[10, 'apple', 34, 45, 87, 65]
[10, 'apple', 34, 90, 87, 65]

In [46]:
result=[x**2 for x in [1,2,3]]
print(result)

[1, 4, 9]

In [48]:
#Negative Indexing
print(lst[-2])
print(t2[-2])

87
2

In [62]:
for i in range(1,11):
    print(i,end=" ")
print()
for j in [1,2,3,4,5]:
    print(j,end=" ")

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5

In [35]:
m = int(input())
n=int(input())
print("Prime numbers between",m,"and",n,"are :",end=" ")
for num in range(m,n+1):
    if isprime(num):
        print(num,end=" ")
def isprime(n):
    if n<=1:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True

10
20
Prime numbers between 10 and 20 are : 11 13 17 19

In [2]:
#Anonymous functions or Lambda functions
f=lambda a:a*a
print(f(5))
s=lambda a,b:a+b
print(s(2,3))

25
5

In [8]:
#variable lenght arguments
def func1(*mylist):
    for num in mylist:
        print(num,end=" ")
    print()
    return
#main
func1(10,20,30)
func1(10,20)
func1(10,20,30,40)

10 20 30
10 20
10 20 30 40

In [15]:
#numeric functions
#abs
print(abs(9))
print(abs(-9))
#round
print(round(12.3457373,3))
#ceil
import math
print(math.ceil(4.6))
print(math.ceil(-4.6))
#floor
print(math.floor(4.6))
print(math.floor(-4.6))
#trunc
print(math.trunc(4.5))
print(math.trunc(-4.5))

9
9
12.346
5
-4
4
-5
4
-4

In [22]:
#exponential
print(math.e)
print(math.exp(4))
print(math.e**4)
#square root
print(math.sqrt(25))
#Max and min
print(max(12,45,34,65))
print(min(12,45,34,65))
#log
print(math.log(1))
print(math.log10(10))

2.718281828459045
54.598150033144236
54.59815003314423
5.0
65
12
0.0
1.0

In [30]:
#modf
print(math.modf(11)) #divides fractional and integer part
print(math.modf(12.9991))
#pow
print(math.pow(4,2))
#PI
print(math.pi)
#.degrees
print(math.degrees(math.pi))
#radians
print(math.radians(180))

(0.0, 11.0)
(0.9991000000000003, 12.0)
16.0
3.141592653589793
180.0
3.141592653589793

In [46]:
#string functions
#capitalize   ----> it checks for first letter of the stirng
str1="hello vijay,from raghu engineering college"
print(str1.capitalize())
#count
print(str1.count('ll'))
#endswith
print(str1.endswith('ege'))
#length
print(len(str1))
#find
print(str1.find('v'))
#split
print(str1.split())
print(str1.split('o'))
#title
print(str1.title()) #---->title() will capitalize the first letter of the every word in the string

Hello vijay,from raghu engineering college
2
True
42
6
['hello', 'vijay,from', 'raghu', 'engineering', 'college']
['hell', ' vijay,fr', 'm raghu engineering c', 'llege']
Hello Vijay,From Raghu Engineering College

In [52]:
#lower and upper
print(str1.lower())
print(str1.upper())
print(str1.islower())#---->it will check all the letters in lowercase or not
print(str1.isupper())#---->it will check all the letters in uppercase or not
#swapcase
str2="gjhSfDDhgf"
print(str1.swapcase())
print(str2.swapcase())#--->swap the case

hello vijay,from raghu engineering college
HELLO VIJAY,FROM RAGHU ENGINEERING COLLEGE
True
False
HELLO VIJAY,FROM RAGHU ENGINEERING COLLEGE
GJHsFddHGF

In [63]:
#replace
print(str1.replace('raghu','NEC'))
print(str1.replace('e','$'))
#isdigit
str2='5457v'
print(str1.isdigit())
print(str2.isdigit())
str3='5454'
print(str3.isdigit())#--->it will check that string having all digits or not
#isalpha ---->spaces are not considered as alphabets,so if the string has spaces it will false as output
str4="ghhcgch"
print(str1.isalpha())
print(str4.isalpha())#--->it will check that string having all alphabets or not

hello vijay,from NEC engineering college
h$llo vijay,from raghu $ngin$$ring coll$g$
False
False
True
False
True

In [70]:
#strip
str5="!!!!hello!!!!!!"
print(str5.strip('!'))
str6="aaaaaaahelloaaaaaaa"
print(str6.strip('a'))
str7="aaaaaaahelloaaaaaaahelloaaaaaaaa"
print(str7.strip('a'))#--->it can't strip middle letters
#lstrip
print(str5.lstrip('!'))
#rstrip
print(str5.rstrip('!'))

hello
hello
helloaaaaaaahello
hello!!!!!!
!!!!hello

In [11]:
n=int(input("enter n value:"))
a=0
b=1
print(a,b,end=" ")
for i in range(3,n+1):
    c=a+b
    print(c,end=" ")
    a=b
    b=c

enter n value:8
0 1 1 2 3 5 8 13

In [3]:
import sys
sys.path

['D:\\python\\Goli',
 'C:\\Users\\vijay\\anaconda3\\python39.zip',
 'C:\\Users\\vijay\\anaconda3\\DLLs',
 'C:\\Users\\vijay\\anaconda3\\lib',
 'C:\\Users\\vijay\\anaconda3',
 '',
 'C:\\Users\\vijay\\anaconda3\\lib\\site-packages',
 'C:\\Users\\vijay\\anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\vijay\\anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\vijay\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\vijay\\anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\vijay\\.ipython']

In [15]:
import math
math.factorial(5)

120

In [23]:
#DICTIONARIES
temp={}
temp['sun']=33.4
temp['mon']=25
temp['tue']=3555
print(temp)
temp1={'sun':33.4,'mon':132,'tue':3.2}
print(temp1)
print(temp.keys())
print(temp.values())
print(temp['mon'])

{'sun': 33.4, 'mon': 25, 'tue': 3555}
{'sun': 33.4, 'mon': 132, 'tue': 3.2}
dict_keys(['sun', 'mon', 'tue'])
dict_values([33.4, 25, 3555])
25

In [34]:
#DICTIONARIES OPERATIONS
print(dict())# ---->dict() is dictionary constructor
#copying dictionary
num={1:'one',2:'two',3:'three'}
print(num)
numbers=dict(num)
print(numbers)
#length
print(len(num))
#delete
del(num[2])
print(num)
#membership
1 in num

{}
{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two', 3: 'three'}
3
{1: 'one', 3: 'three'}

True

In [60]:
#different ways to create dictionaries
#list of tuples
my_dict=dict([(1,"apple"),(2,"mango"),(3,"carrot")])
print(my_dict)
#two parallel lists
a=[1,2,3,4]
b=["apple","mango","carrot","banana"]
my_dict={}
for i in range(len(a)):
    my_dict[a[i]]=b[i]
print(my_dict)

{1: 'apple', 2: 'mango', 3: 'carrot'}
{1: 'apple', 2: 'mango', 3: 'carrot', 4: 'banana'}

In [61]:
print(my_dict[3])#we can access values by using keys but cannot access keys by using values
#get()
print(my_dict.get(3))
#inserting an new element
my_dict[5]="dog"
print(my_dict)
#update
my_dict[2]="cat"
print(my_dict)
print(len(my_dict))

carrot
carrot
{1: 'apple', 2: 'mango', 3: 'carrot', 4: 'banana', 5: 'dog'}
{1: 'apple', 2: 'cat', 3: 'carrot', 4: 'banana', 5: 'dog'}
5

In [46]:
#fromkeys method
list1=[1,2,3,4]
print(dict.fromkeys(list1))
print({}.fromkeys(range(1,7),10))

{1: None, 2: None, 3: None, 4: None}
{1: 10, 2: 10, 3: 10, 4: 10, 5: 10, 6: 10}

In [62]:
#setdefault ---->prints the value if the given key is present,otherwise that key will be added to that dictionary
stu={'vijay':21,'raghu':20,'karhtik':21}
print(stu.setdefault('raghu'))
print(stu.setdefault('revanth'))
print(stu)
print(stu.setdefault('rev',22))
print(stu)

20
None
{'vijay': 21, 'raghu': 20, 'karhtik': 21, 'revanth': None}
22
{'vijay': 21, 'raghu': 20, 'karhtik': 21, 'revanth': None, 'rev': 22}

In [80]:
#we can not concat two dictionaries using + operator like lists,so  we can concat them by using update()
d1={1:"ap",2:"tel",3:"mah"}
d2={1:"mad",2:"up"}
print(d1)
print(d2)
print(d1.pop(2))
d2.clear()
print(d2)

{1: 'ap', 2: 'tel', 3: 'mah'}
{1: 'mad', 2: 'up'}
tel
{}

In [5]:
#set
fruits={"apple","banana"}
print(fruits)
fruits.add("grapes")
print(fruits)
#frozen set keyword
animal=frozenset(['tiger','lion'])
print(animal)
animal.add('elephant') #---->frozenset means immutable set

{'banana', 'apple'}
{'grapes', 'banana', 'apple'}
frozenset({'lion', 'tiger'})

AttributeError: 'frozenset' object has no attribute 'add'

In [6]:
num={1,2,3,1,2,3,4,5,6}
print(num) #--->sets doesnot allow duplicative values

{1, 2, 3, 4, 5, 6}

In [12]:
emptyset={}
print(type(emptyset))#--->it shows the empty dictionary but we need to create empty set 
emptyset1=set()#--->so we need to use set() to create empty set
print(type(emptyset1))
#copying set
num={1,2,3,4}
num1=set(num)
print(num1)
print(num)

<class 'dict'>
<class 'set'>
{1, 2, 3, 4}
{1, 2, 3, 4}

In [23]:
#set operations
#membership
set1={1,2,3,4,'hello'}
print(6 in set1)
print(4 in set1)
#ADD
set1.add(5)
print(set1)
#remove
set1.remove(4)
print(set1)
#union
set2={1,'apple'}
print(set1|set2)
#CLEAR
set2.clear()
print(set2)

False
True
{1, 2, 3, 4, 5, 'hello'}
{1, 2, 3, 5, 'hello'}
{1, 2, 3, 5, 'apple', 'hello'}
set()

In [32]:
#intersection
set2={2,4,5,6,'apple'}
print(set1&set2)
#DIFFERENCE
print(set1-set2)
print(set2-set1)
#SYMMETRIC DIFFERENCE  --->prints the elements which are not common
print(set1^set2)
#size
print(len(set2))
#copy
set3=set2.copy()
print(set3)

{2, 5}
{1, 3, 'hello'}
{4, 'apple', 6}
{1, 3, 4, 6, 'hello', 'apple'}
5
{2, 4, 5, 6, 'apple'}

In [42]:
#FILE HANDLING
textfile=open("text.txt",'w')
textfile.write("Hello People ,how are you man??")
textfile.close()
textfile=open("text.txt",'a')
textfile.write("Hi this is Vijay")
textfile.close()
textfile=open("text.txt",'r')
print(textfile.read())
textfile.close()

Hello People ,how are you man??Hi this is Vijay

In [57]:
#rename is also same as remove()
#remove
import os
os.remove("text.txt")